<%= link_to("<< Back to List", events_path, :class => 'back-link') %>

<div class="event edit">
<h2>Update Event</h2>
<%= form_for(@event) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>


<%= f.submit("Update Event") %>

<% end %>
</div> 