<%= link_to("<< Back to List", events_path, :class => 'back-link') %>

<div class="event new">
<h2>Create Event</h2>
<%= form_for(@event) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <div class="form-group">
      <div class="col-sm-10">
        <%= f.submit class: "btn btn-primary btn-lg" %>
      </div>
    </div>
<% end %>
</div> 