<%= link_to("<< Back to List", events_path, :class => 'back-link') %>

<div class="event new">
<h2>Create Event</h2>
<%= form_for(@event) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <%= f.submit("Create Event") %>
<% end %>
</div> 