<div class="container">
 <footer class="footer">
   <small>
     Copyright &copy; <a href="localhost:3000">Private Events</a> by <a href="https://github.com/emmanuelkamala">Emmanuel Kamala</a>
   </small>
   <nav>
     <ul>
     <li><%= link_to "About", "#" %></li>
     <li><%= link_to "Terms", "#" %></li>
     </ul>
   </nav>
 </footer>

</div>