<!DOCTYPE html>
<html>
  <head>
    <title>Private Events: <%= @page_title || "Welcome to our events"%></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if !flash[:notice].blank? %>
    <div class="notice">
    <%= flash[:notice] %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>


